.header { 
    background-color: var(--corPrincipal);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 180px 0 40px;
    margin-bottom: 80px ;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid var(--corSecundaria);
}

.name { 
    font-size: 18px;
}