* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

:root {
    --corPrincipal: #f9ca24;
    --corSecundaria: #fff;
    --corTexto: #111;
}